@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;

    --primary-color: #262626;
    --secundary-color: #212121;
    --title-font-color: #fff;
    --text-font-color: #ccc;
    --details-color: #05dbef;
    /* Variables to HTTP methods*/
    --method-font-size: .6rem;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: flex;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
}

.no-scroll {
    overflow-y: hidden;
}

header {
    display: grid;
    position: sticky;
    top: 0;
    grid-template-columns:  0.5fr 0.5fr 1fr;
    align-items: center;
    gap: 2rem;
    border-bottom: solid 1px #ccc;
    background-color: var(--secundary-color);
    transition: all 0.3s ease;
    z-index: 1;
}
h1 {
    color: var(--title-font-color);
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 4rem;
}

header h3 {
    color: var(--title-font-color);
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 700;
}

h4 {
    justify-content: space-between;
    align-items: center;
    color: var(--text-font-color);
}

strong {
    color: var(--text-font-color);
}
header img{
    margin-top: .75rem;
    width: 200px;
    height: 80px;
    object-fit: cover;
}

.input-container {
    display: flex;
    align-self: self-end;
}
.input-container input{
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.body-container {
    display: flex;
    top: 0;
    grid-template-columns: .5fr 2fr;
    background-color: var(--primary-color);
    gap: 2rem;
    align-items: baseline;
}
main {
    flex: 1;
}
nav {
    width: 16rem;
    top: 9.828rem;
    position: -webkit-sticky;
    position: sticky;
    margin: 4rem 0 0 3rem;
    align-items: baseline;
    transition: left 0.1s linear 0s;
}
nav h3 {
    color: var(--title-font-color);
    font-size: 1rem;
}
.dropdown-container a {
    position: relative;
    padding-bottom: 0.5rem;
    color: var(--text-font-color);
}

.dropdown-container a::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: var(--details-color);
    transition: all 0.3s ease;
}
.dropdown-container a:hover::after {
    width: 100%;
}
.dropdown-container a:hover {
    color: var(--details-color);
}

section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 2rem 1rem;    
    white-space: pre-line;
}
.separador {
    position: static;
    padding: 1px;
    background-color: var(--text-font-color);
}

.endpoint-box{
    width: 100%;
    padding: 2rem 1rem;
    color: var(--title-font-color);
    background-color: var(--secundary-color);
}
.no-example {
    grid-template-columns: 1fr !important;
}

.no-example .description .double-column {
    justify-content: space-evenly;
}
section h3,h1 {
    color: var(--title-font-color);
}
section p, span {
    color: var(--text-font-color);
}

.double-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-font-color);
    }

.double-column p {
    width: 50%;
    margin-right: 5rem;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--text-font-color);
}

.example {
    background-color: var(--secundary-color);
    padding: 2rem;
    overflow: hidden;
}
.empty {
    background: var(--primary-color);
    padding: 0;
    margin: 0;
}
.codeDiv {
    padding: 0 4rem;
    border: groove 1px #ccc;
    color: #ccc;
    overflow: overlay;
    max-height: 30rem;
    margin-top: 2rem;
    align-self: center;
}
.iconsDiv {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}
.git {
    font-size: 3rem;
    display: inline;
    color: var(--text-font-color);
}
.git:hover {
    color: var(--details-color);
}
#frontend::after {
    content: "frontend";
    font-size: 1rem;
}
#backend::after {
    content: "backend";
    font-size: 1rem;
}
.codeDiv pre {
    border: none !important;
    position: relative;
    font-size: 1rem;
    overflow: hidden;
}
.token {
    color: var(--title-font-color);
    padding: 2rem;
}
.pre-wraper {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
}

.btn-close {
    display: none;
}
.keyJson span{
    color: #df3e3e;
}
.valueJson {
    color: green;
}

.dropdown-container {
    display: none;
    width: fit-content;
    border-end-end-radius: 1rem;
    padding: 0 1.5rem;
  }

.get::before {
    content: "GET ";
    font-size: var(--method-font-size);
    vertical-align: middle;
    padding-right: .2rem;
    color: #56c54f;
}
.put::before {
    content: "PUT ";
    font-size: var(--method-font-size);
    vertical-align: middle;
    padding-right: .2rem;
    color: #1e0db9;
}
.post::before {
    content: "POST ";
    font-size: var(--method-font-size);
    vertical-align: middle;
    padding-right: .2rem;
    color: #e6a014;
}
.delete::before {
    content: "DEL ";
    font-size: var(--method-font-size);
    vertical-align: middle;
    padding-right: .2rem;
    color: #df3e3e;
}

h1.post::before, h1.get::before, h1.delete::before, h1.put::before {
    font-size: 1.5rem;
}
.lowlevel-dropdown {
    display: none;
    margin-left: 1rem;
}

.btn-dropdown {
    color: var(--title-font-color);
    margin-bottom: 0.5rem;
    width: 100%;
    cursor: pointer;
}

.btn-view-more {
    color: var(--details-color);
    background-color: var(--primary-color);
    width: 100%;
    height: 2rem;
position: sticky;
    bottom: 1rem;
    cursor: pointer;
    border-radius: .5rem;
    border-bottom: 1px solid var(--details-color);
    opacity: 1;
    transition: all 0.3s ease;
}

.btn-view-more:hover {
    background-color: var(--details-color);
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}
.show {
    display: grid;
}
/* Modal*/
/* The Modal (background) */
.modal {
display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding: 0 10rem; /* Location of the box */ 
width: 100vw;
    height: 100vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0,0,0,0.9); /* Fallback color */
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
.modal .modalContainer {
    width: 50%;
    height: 80%;
    padding: 4rem;

}
.modal .modalContainer .codeDiv {
    max-height: 80% !important;
}
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: all 0.5s ease;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.modalContainer {
    background-color: var(--secundary-color);
  }
@media (width > 1600px) {
    .modalContainer {
        align-self: center;
    }
}
@media (width < 1600px){
    nav {
        display: none;
    }
    main {
        margin: 3rem;
        overflow: hidden;
    }
    h1 {
        font-size: 1.50rem;
        font-weight: 500;
    }
.modal .modalContainer {
        width: 80%;
    }
}

@media (width < 1300px){
    section {
        display: flex;
        flex-direction: column;
    }
.modal .modalContainer {
        width: 90%;
    }
    .modal .modalContainer pre {
        font-size: 1rem;
    }
}
