@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;

    --primary-color: #212121;
    --title-font-color: #fff;
    --text-font-color: #ccc;
    --details-color: #05dbef;
    /* Variables to HTTP methods*/
    --method-font-size: .6rem;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: flex;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
}

header {
    display: grid;
    position: sticky;
    top: 0;
    grid-template-columns:  0.5fr 0.5fr 1fr;
    align-items: center;
    gap: 2rem;
    border-bottom: solid 1px #ccc;
    background-color: var(--primary-color);
    transition: all 0.3s ease;
}
h1 {
    color: var(--title-font-color);
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 4rem;
}

header h3 {
    color: var(--title-font-color);
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 700;
}

header img{
    margin-top: .75rem;
    width: 200px;
    height: 80px;
    object-fit: cover;
}

.input-container {
    display: flex;
    align-self: self-end;
}
.input-container input{
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.body-container {
    display: flex;
    top: 0;
    grid-template-columns: .5fr 2fr;
    gap: 2rem;
    align-items: baseline;
}
main {
    flex: 1;
}
nav {
    width: 16rem;
    top: 9.828rem;
    position: -webkit-sticky;
    position: sticky;
    background-color: var(--secundary-color);
    margin: 4rem 0 0 3rem;
    align-items: baseline;
    transition: left 0.1s linear 0s;
}
nav h3 {
    color: var(--title-font-color);
    font-size: 1rem;
}
.dropdown-container a {
    position: relative;
    padding-bottom: 0.5rem;
    color: var(--text-font-color);
}

.dropdown-container a::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: var(--details-color);
    transition: all 0.3s ease;
}
.dropdown-container a:hover::after {
    width: 100%;
}
.dropdown-container a:hover {
    color: var(--details-color);
}

section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 2rem 1rem;
}
.separador {
    position: static;
    padding: 1px;
    background-color: var(--text-font-color);
}

section h3,h1 {
    color: var(--title-font-color);
}
section p, span {
    color: var(--text-font-color);
}

.example {
    background-color: #262626;
}

.codeDiv {
    border: groove 1px #ccc;
    color: #ccc;
}
.codeDiv pre{
    position: relative;
    right: 6rem;
    padding: 1rem;
    color: #ccc;
}
.keyJson {
    color: #df3e3e;
}
.valueJson {
    color: green;
}

.dropdown-container {
    display: none;
    width: fit-content;
    border-end-end-radius: 1rem;
    padding: .5rem 1.5rem;
  }

.get::before {
    content: "GET";
    font-size: var(--method-font-size);
    vertical-align: middle;
    padding-right: .2rem;
    color: #56c54f;
}

.put::before {
    content: "PUT";
    font-size: var(--method-font-size);
    vertical-align: middle;
    padding-right: .2rem;
    color: #1e0db9;
}
.post::before {
    content: "POST";
    font-size: var(--method-font-size);
    vertical-align: middle;
    padding-right: .2rem;
    color: #e6a014;
}
.delete::before {
    content: "DEL";
    font-size: var(--method-font-size);
    vertical-align: middle;
    padding-right: .2rem;
    color: #df3e3e;
}
.lowlevel-dropdown {
    display: none;
    margin-left: 1rem;
}

.btn-dropdown {
    color: var(--title-font-color);
    width: 100%;
}

.show {
    display: grid;
}

